.welcome-message {
  font-size: 1.5625rem;
  font-weight: 700;
  font-family: "Circular Std";
  line-height: 31.6208px;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    width: 22%;
    height: 15rem;
    border-radius: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    a {
      color: white;
      font-size: 12px;
    }

    .card-text {
      display: flex;
      justify-content: end;
      font-size: 3.75rem;
    }
  }

  .card-one {
    background-color: #002855;
  }

  .card-two {
    background-color: #e6b014;
  }

  .card-three {
    background-color: #353535;
  }

  .card-four {
    background-color: #00b388;
  }
}

.dashboard-card-bottom {
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  .prospect-card-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    margin-top: 20px;
    gap: 2rem;

    .prospect-buttons {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #002855;
        width: 30%;
        padding: 8px;
        color: white;
        font-size: 10px;
        font-weight: 200;
        border-radius: 2%;
      }
    }

    .prospect-details-card {
      background-color: white;

      .card-top-left {
        border-bottom: 1px solid #f0f0f0;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        a {
          background-color: #002855;
          color: white;
          padding: 2px 6px;
          border-radius: 3%;
        }
      }

      table {
        width: 100%;
        text-align: left;
        padding: 1rem 2rem 0 1rem;

        th {
          color: #002855;
          font-weight: 700;
          padding: 1rem 0;
        }

        td {
          padding: 1rem 0;
        }

        .status {
          text-align: right;
        }
        .pending {
          color: #ffcd28;
        }

        .completed {
          color: #00b388;
        }
      }
    }
  }

  .prospect-chart-activity-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
  }
}
