* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #002855;
    --secondary-color: #f0f2fa;
    --white: #ffffff;
    --dark-color: #585858;
    --ash-color: #afb0b1;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    font-family: "Circular Std", sans-serif;

    .container {
        max-width: 120rem;
        width: 100%;
        padding: 1.5rem;
        max-height: 80rem;
        height: 90%;
        display: flex;
        overflow-y: auto;

        .left-side {
            width: 50%;
            background-color: var(--secondary-color);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 40px 7%;
            overflow-y: auto;

            img {
                width: 12rem;
                height: auto;
                margin-top: 2rem;
            }

            h1 {
                color: var(--dark-color);
                margin-top: 4rem;
                font-size: 3.7rem;
            }

            p {
                color: var(--ash-color);
                font-size: 1.6rem;
            }

            form {
                display: flex;
                flex-direction: column;
                /* gap: 10rem; */

                h1 {
                    font-size: 1.9rem;

                    span {
                        color: var(--primary-color);
                    }
                }

                .otp-group {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1rem;

                    input {
                        width: 18%;
                        height: 60px;
                        font-size: 5rem;
                        text-align: center;
                        border: 2px solid var(--primary-color);
                        margin-bottom: 16rem;
                    }
                }

                .login-btn {
                    background-color: var(--primary-color);
                    padding: 1.7rem;
                    border-radius: 5px;
                    border: none;
                    color: var(--white);
                    font-size: 1.6rem;
                    opacity: 0.2;

                    a {
                        text-decoration: none;
                        color: var(--white);
                    }
                }
            }

            p {
                a {
                    text-decoration: none;
                    color: var(--primary-color);
                    font-weight: 800;
                }
            }
        }

        .right-side {
            width: 50%;
            background: url(/dashboard/assets/right-logo-img.png)
                var(--primary-color);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 767px) {
    .left-side {
        width: 100% !important;
    }
    .right-side {
        display: none;
    }
}
