* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

main{
    margin: 0 auto;
}
.container {
    display: flex;
    min-height: 100%;
    max-width: 100%;
}

.sidebar {
    width: 11.100rem; /* 250px */
    background-color: #002855;
    color: white;
   
}

.sidebar .logo {
    margin-bottom: 2rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
   
}

.sidebar .logo img {
    width: 7.125rem; /* 50px */
    margin-left: 1.0rem;
    margin-top: 3rem;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 3.25rem; /* 20px */
    max-width: 5.81875rem;
    margin: auto;
}

.sidebar nav ul li {
    margin: 1.25rem 0; /* 20px 0 */
}

.sidebar nav ul li img{
    margin-top: .3rem;
    margin-right: .3rem;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: .6rem; /* 16px */
    width: 100%;
    margin-bottom: .3rem;
}

.content {
    flex: 1;
    background-color: #F5F7FA;
    padding: 1.25rem; /* 20px */
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-width: 100%;
    height: 60px;
    margin-left: -18px;
    margin-top: -18px;
}

header input {
    padding: 0.625rem; /* 10px */
    width: 11.75rem; /* 300px */
    background-color: #F0F2FA;
    border-radius: 0.25rem; /* 4px */
    border:1px solid #F0F2FA;
    color: #34475E;
    font-size: 11px;
}

header .search img{
    margin-left: 10px;
}

header .search{
    display: flex;
    background-color: #F0F2FA;
    margin-left: 20px;
}

header .user-profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

header .user-profile span{
    font-size: 10px;
}

header .user-profile #bell{
    width:15px;    
}
 
header .user-profile img {
    width: 2.0rem; /* 40px */
    border-radius: 50%;
    margin-right: 0.625rem; /* 10px */
}

.branches-property {
    margin-top: 0.50rem; /* 20px */
}

.branches-property .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.branches-property .header h1 {
    font-size: 1.0rem; 
    color: #585858;
}

.branches-property .header button img{
    margin-right: 5px; 
    width: 10px;
}
.branches-property .back{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.branches-property .back p{
    font-size: .7rem;
    color: #002855;
    margin-top: 2px;
}
.branches-property .back img{
    width: 1rem;
}

.custom-container {
    display: flex;
    width: 100%;
    height: auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0;
    background-color: #ffffff;
    position: relative;
}

/* Image section */
.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Text section */
.text-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
}

.top-right-image {
    position: absolute;
    top: 0;
    right: 15px;
}

.top-right-image img {
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.text-section .row {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.text-section .column {
    flex: 1;
    padding: 5px;
    font-size: .5rem;
    color: #353535;
}

.text-section .buttons {
    display: flex;
    justify-content: space-between;
    /* gap: 18rem; */
    margin: 1rem;

}

.text-section .btn {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1px;
    font-size: .7rem;

}

.text-section .btn:hover {
    background-color: #0056b3;
}
.text-section #section-three{
    margin-top: 1rem;
}
.text-section .first{
    border: 1px solid  #F3F5F6;
    border-right: none;
    border-top: none;
}
.text-section #section-two .column, 
.text-section #section-four .column{
    font-size: .7rem;
    color: #353535;
}
.branches-property .tabs {
    display: flex;
    width: 20%;
    margin-top: 10px;
}

.branches-property .tabs button {
    flex: 1;
    height: 30px; width: 50px;
    padding: 0.5rem .4rem; /* 10px */
    border: none;
    cursor: pointer;
    /* background-color: #ccc; */
    border-radius: 0.25rem 0.25rem 0 0; 
    font-size: .6rem;
}
.thick_line{
    width: 50px;
    height: 5px;
    border-radius: 3rem;
    margin: auto;
    margin-top: 4px;
    background-color: #002855;
}
.custom-container{
    overflow-x: auto;
}


.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}
.responsive_table{
    background-color: white;
}
table {
    width: 100%;
    border-collapse: separate;
     /* Change from collapse to separate */
    border-spacing: 0 3px;
    font-size: 10px;
    text-align: left;
}

thead th {
    background-color: #f2f2f2;
    /* border: 1px solid #ddd; */
    padding: 2px;
}

tbody td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* border-left: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    padding: 2px;
}
.branches-property .contain{
    overflow-x: auto;
}

@media (min-width: 2500px){

    .branches-property .header h1 {
        font-size:1.5rem; 
        color: #585858;
    }
    .branches-property .tabs button {
        height: 60px; 
        width: 50px;
        padding: 0.8rem .6rem;
        font-size: 1.1rem;
    }
    .branches-property .header button {
        padding: 0.500rem 1.00rem; 
        background-color: #112B4E;
        color: white;
        border: none;
        border-radius: 0.10rem; /* 2px */
        cursor: pointer;
        font-size:1.1rem;
        margin-right: .1rem;
    }
    .branches-property .by{
        font-size: 1.1rem;

    }
    .branches-property .first_search .search button{
        font-size: 1.1rem;
    }
    .branches-property .header button img{
        margin-right: 8px; 
        width: 20px;
    }
    .responsive_table table th{
        font-size: 1.2rem;
    }
    .branches-property table tr td{
        color: #353535;
        font-size: 1.0rem;
    }
    .first_search button{
        font-size: 15px;
    }
}

@media (min-width: 1440px){
    .responsive_table table th{
        font-size: 1.2rem;
    }
    .branches-property table tr td{
        color: #353535;
        font-size: 1.0rem;
    }
    .first_search button{
        font-size: 15px;
    }
    /* table tr td{
        font-size: .9rem;
    }
    .branches table th{
        font-size: 1.0rem;
    } */
}


@media (min-width: 1024px){
    
    .branches-property .by{
        font-size: .6rem;
    }
    .branches-property table th {
        background-color:white;
        color: #7F8B94;
        font-size: .7rem;
    }
    .branches-property table tr td{
        color: #353535;
        font-size: .7rem;
    }
    
}

@media (max-width: 768px){
    .branches-property .search .by p{
        font-size: .5rem;
    }
    .branches-property .first_search .search button{
        width: 4rem;
        height: 2rem; 
        text-align: center;
        background-color: #112B4E;
    }
    hr{
        margin: 0px;
        width: 100%;
        margin-top: 5px;
    }
    .branches-property .tabs{
        width: 100%;
    }
    .branches-property .property-container {
        width: 130%;
    }
    .branches-property .property-container .propsss, .branches-property .property-container .props{
        gap: 1rem;
    }
    .branches-property .property-container #up{
        margin-left: 2rem;
    }
    .branches-property .property-container .propss{
       margin-left: 1rem;
    }
    .text-section #section-two .column, 
    .text-section #section-four .column{
    font-size: .6rem;
    color: #353535;
}
.image-section p{
    font-size: .7rem;
}
}

@media (max-width: 425px){
    .branches-property .header h1 {
        font-size: .8rem; 
    }
    .branches-property .header button{
        font-size:.5rem
    }
    .branches-property .first_search .search button{
        padding: 0.500rem 2.40rem; 
        font-size: .5rem;
    }
    .branches-property .first_search .placeholder{
        width: 75%;
    }
    .branches-property .first_search .placeholder img{
        margin-top: 10px;
    }
    .branches-property .first_search .placeholder input{
        margin-left: 0.5rem;
        width: 70%;
    }
    header .search img{
        margin-left: 10px;
    }
    
    header .search{
        background-color: #F0F2FA;
        margin-left: 20px;
        width: 7rem;
        display: flex;
    }
    header input{
        font-size: .5rem;

    }
    header .user-profile span{
        font-size: 8px;
    }
    header .user-profile #bell{
        width:12px;    
    }
    header .user-profile #drop{
        width:12px;    
    }
    header .user-profile #user{
        width:17px;    
    }
    header .user-profile{
        display: flex;
        justify-content: flex-end;
    }
    .branches-property .property-container{
       display: flex;
       flex-direction: column;
    }
    .branches-property .property-container #main-property{
        margin: 0 auto;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(150, 149, 149);
    }
    .branches-property .property-container .propsss, .branches-property .property-container .props{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 2rem;
    }
    #great-buttons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .branches-property .property-container #up{
        position: relative;
        right: 0px;
    }
    .custom-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        /* border: 1px solid #ccc; */
        padding: 10px;
        /* margin-left: 10px; */
        box-sizing: border-box;
        margin: 20px 0;
        background-color: #ffffff;
        position: relative;
        padding: 15px;
    }
    .custom-container .image-section{
        margin: 0 auto;
        margin-bottom: .3rem;
       
    }
    .custom-container button{
        font-size: .7rem;
    }
    .text-section {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0px;
        position: relative;
    }
   
    
    
}

@media (max-width: 320px){
    .branches-property .property-container #main-property{
        margin-right: 8rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(150, 149, 149);
    }
    .top-right-image {
        position: absolute;
        top: -10px;
        right: 15px;
    }
    .image-section p{
        font-size: .5rem;
    }
}

@media (max-width: 375px){
    .branches-property .property-container #main-property{
        margin-right: 12rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(150, 149, 149);
    }
}

@media (max-width: 425px){
    .branches-property .property-container #main-property{
        margin-right: 15rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(150, 149, 149);
    }
}
