* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #002855;
    --secondary-color: #f0f2fa;
    --white: #ffffff;
    --dark-color: #585858;
    --ash-color: #afb0b1;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    font-family: "Circular Std", sans-serif;

    .container {
        max-width: 120rem;
        width: 100%;
        padding: 1.5rem;
        max-height: 80rem;
        height: 100%;
        display: flex;
        overflow-y: auto;

        .first-input,
        .second-input {
          width: 100%;
          background-color: white;
          padding: 1rem 1.5em;
          border-radius: 5px;
        }

        .first-input {
          label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.4rem;
          }
          i {
            float: right;
            font-size: 1.5rem;
          }

          input {
            border: none;
            outline: none;
            width: 100%;
            height: 4rem;
            color: var(--ash-color);
            font-size: 1.4rem;
          }
        }

        .second-input {
          .label-group {
        .left-side {
            width: 50%;
            background-color: var(--secondary-color);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 40px 7%;
            overflow-y: auto;

            img {
                width: 12rem;
                height: auto;
                margin-top: 2rem;
            }
          }
          i {
            float: right;
            font-size: 1.5rem;
          }
          input {
            border: none;
            outline: none;
            width: 90%;
            height: 4rem;
            font-size: 1.4rem;
            color: var(--ash-color);
          }

            h1 {
                color: var(--dark-color);
                margin-top: 4rem;
                font-size: 3.7rem;
            }

            p {
                color: var(--ash-color);
                font-size: 1.6rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .first-input,
                .second-input {
                    width: 100%;
                    background-color: white;
                    padding: 1rem 1.5em;
                    border-radius: 5px;
                }

                .first-input {
                    label {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 1.4rem;
                    }
                    i {
                        float: right;
                        font-size: 1.5rem;
                    }

                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 4rem;
                        font-size: 1.4rem;

                        input::placeholder {
                            color: red;
                        }
                    }
                }

                .second-input {
                    .label-group {
                        display: flex;
                        justify-content: space-between;

                        label {
                            margin-bottom: 15px;
                            font-size: 1.4rem;
                        }
                    }
                    i {
                        float: right;
                        font-size: 1.5rem;
                    }
                    input {
                        border: none;
                        outline: none;
                        width: 90%;
                        height: 4rem;
                        font-size: 1.4rem;
                    }

                    button {
                        border: none;
                        background-color: var(--white);
                        outline: none;
                        font-size: 10px;
                        color: var(--primary-color);
                        font-weight: 700;
                    }
                }

                .remeber-me {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.4rem;

                    .logged-in {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                    a {
                        color: var(--ash-color);
                    }

                    .check input[type="checkbox"] {
                        accent-color: var(--primary-color);
                    }
                }

                .login-btn {
                    background-color: var(--primary-color);
                    padding: 1.7rem;
                    border-radius: 5px;
                    border: none;
                    color: var(--white);
                    font-size: 1.6rem;
                }
            }

            p {
                a {
                    text-decoration: none;
                    color: var(--primary-color);
                    font-weight: 800;
                }
            }
        }

        .right-side {
            width: 50%;
            background: url(./dashboard/assets/right-logo-img.png)
                var(--primary-color);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .login-btn {
          background-color: var(--primary-color);
          padding: 1.7rem;
          border-radius: 5px;
          border: none;
          color: var(--white);
          font-size: 1.6rem;

          a{
            text-decoration: none;
            color: var(--white);
          }
        }
      }

      p {
        a {
          text-decoration: none;
          color: var(--primary-color);
          font-weight: 800;
        }
      }
    }
}

@media screen and (max-width: 767px) {
    .left-side {
        width: 100% !important;
    }
    .right-side {
        display: none;
    }
}
