* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #002855;
  --secondary-color: #f0f2fa;
  --white: #ffffff;
  --dark-color: #585858;
  --ash-color: #afb0b1;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1000px;
  margin: auto;

  .left-side {
    width: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 40px 7%;

    img {
      width: 6.25rem;
    }

    h1 {
      color: var(--dark-color);
    }

    p {
      color: var(--ash-color);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .first-input,
      .second-input {
        width: 100%;
        background-color: white;
        padding: 1rem 1.5em;
        border-radius: 5px;
      }

      .first-input {
        label {
          display: block;
          margin-bottom: 5px;
          font-size: 1rem;
        }
        i {
          float: right;
        }

        input {
          border: none;
          outline: none;
          width: 100%;
          color: var(--ash-color);
        }
      }

      .second-input {
        .label-group {
          display: flex;
          justify-content: space-between;

          label {
            margin-bottom: 15px;
          }
        }
        i {
          float: right;
        }
        input {
          border: none;
          outline: none;
          width: 90%;
          color: var(--ash-color);
        }

        button {
          border: none;
          background-color: var(--white);
          outline: none;
          font-size: 10px;
          color: var(--primary-color);
          font-weight: 700;
        }
      }

      .login-btn {
        background-color: var(--primary-color);
        padding: 0.7rem;
        border-radius: 5px;
        border: none;
        color: var(--white);
        margin-top: 1rem;
      }
    }

    p {
      a {
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 800;
      }
    }
  }

  .right-side {
    width: 50%;
    background: url(./dashboard/assets/right-logo-img.png) var(--primary-color);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
}

@media screen and (max-width: 767px) {
  .left-side {
    width: 100% !important;
  }
  .right-side {
    display: none;
  }
}
