/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
} */

.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.first_search {
    background-color: white;
    padding: 1.5rem;
    margin-block: 1.5rem;
}
.second_search {
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
    padding: 1.5rem;
    border-radius: 5px;
}
.first_search .search {
    display: flex;
    background-color: white;
    width: 100%;
    gap: 6rem;
}
.left-search {
    display: flex;
    flex: 1;
}
.by {
    display: flex;
    align-items: center;
    background-color: #f3f5f6;
    width: 21rem;
    padding: 1rem;
    justify-content: space-between;
    border: 1px solid rgb(216, 213, 213);
    border-right: none;
}
.by p {
    color: #34475e;
    font-size: 1.5rem;
    line-height: 19.17px;
}
.by img {
    width: 1.4rem;
}
.first_search .search input {
    width: 100%;
    height: 100%;
    flex: 1;
    outline: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    border: none;
}

.first_search .search button {
    width: 18.1rem;
    text-align: center;
    background-color: #112b4e;
    color: white;
    border: none;
    border-radius: 4.74px;
    cursor: pointer;
    font-size: 1.705rem;
}
.first_search .placeholder {
    background-color: white;
    border: 1px solid rgb(216, 213, 213);
    width: 100%;
    display: flex;
    padding: 1rem;
    border-radius: 4.74px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    align-items: center;
}
.first_search .placeholder img {
    width: 1.6rem;
    object-fit: con;
    height: 1.6rem;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    padding-right: 10px;
}
.profile img.note {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}

.prospects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.prospects h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #353535;
}

.prospects .create-prospect {
    background-color: #002855;
    color: #fff;
    font-weight: 500;
    padding: 1.5rem 4.2rem;
    border-radius: 5px;
    font-size: 1.5rem;
}
.status-buttons {
    display: flex;
    justify-content: baseline;
    padding: 10px 0 0 0;
}

.status-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.all {
    background-color: #f0f0f0;
}
.open {
    background-color: #007bff;
    color: white;
}
.closed {
    background-color: #28a745;
    color: white;
}
.ongoing {
    background-color: #ffc107;
    color: white;
}
.out-of-sla {
    background-color: #dc3545;
    color: white;
}

.prospects-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow-x: auto;
    font-size: 1.2rem;
    white-space: nowrap;
}

.prospects-table th,
.prospects-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.prospects-table th {
    background-color: #fff;
    padding: 1rem;
}
.prospects-table td img {
    width: 3rem;
    height: 3rem;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
}

.status.ongoing {
    background-color: #ffc107;
    color: white;
}
.status.closed {
    background-color: #28a745;
    color: white;
}
.status.out-of-sla {
    background-color: #dc3545;
    color: white;
}

.action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .header input {
        width: 30%;
    }

    .search button,
    .create-prospect {
        margin-left: 0;
    }
    .prospects-table {
        min-width: 90rem;
    }
}

@media (max-width: 768px) {
    .header input {
        width: 50%;
    }

    .prospects .create-prospect {
        width: 100%;
        margin-bottom: 20px;
    }

    .search {
        flex-direction: column;
        gap: 1rem !important;
    }

    .search button {
        margin: 10px 0 0 0;
        width: 100%;
    }

    .search-bar input {
        width: 100%;
    }
    .left-search {
        flex-direction: column;
    }
    .by {
        border: 1px solid rgb(216, 213, 213);
    }
    .by,
    .placeholder {
        width: 100% !important;
    }
    .search button {
        width: 100% !important;
        padding: 1.2rem !important;
    }
    .prospects {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem !important;
        gap: 1rem;
    }
    .create-prospect {
        width: 20rem !important;
        white-space: nowrap;
        font-size: 1.4rem !important;
        align-self: flex-end;
    }
    .status-button {
        font-size: 1.5rem !important;
        font-weight: 500;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-box {
        flex-direction: column;
        height: auto;
    }

    .search {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar input {
        width: 100%;
    }

    .status-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .status-button {
        width: 100%;
        margin-bottom: 10px;
    }
}
