<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/authentication/css/register.css" />
        <link rel="stylesheet" href="/styles.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
        />
        <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css"
        />
        <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css"
        />
        <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css"
        />
        <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css"
        />
    </head>
    <body>
        <div class="container">
            <div class="left-side">
                <img src="/dashboard/assets/Login-logo.png" alt="" />
                <h1>Referral Management</h1>

                <p>Provide your personal information</p>

                <form action="/authentication/layouts/resetpass.html">
                    <div class="first-input">
                        <label for="">First Name</label>
                        <input type="text" placeholder="Deens" required />
                    </div>
                    <div class="second-input">
                        <div class="label-group">
                            <label for="id">Last Name</label>
                        </div>
                        <input type="password" placeholder="Ibrahim" required />
                    </div>

                    <button type="submit" class="login-btn">
                        <a href="#">Proceed</a>
                    </button>
                </form>
            </div>

            <div class="right-side"></div>
        </div>
    </body>
</html>
